/* 登录后的首页导航 */
.index-header-login-nav {
  border-radius: 0;
  margin-bottom: 0;
}
.index-header-login-nav .navbar-header a {
  color: #fff;
}
.index-header-login-nav .navbar-header a i {
  font-size: 26px;
}
.index-header-login-nav .navbar-right li a {
  color: #fff;
}
.index-header-login-nav .navbar-right li a:hover {
  color: #2e8ece;
  text-decoration: underline;
}
.index-header-login-nav .navbar-right li .tooltip img {
  width: 100px;
}
/* 内容导航*/
.index-login-content-nav {
  margin-bottom: 10px;
}
.index-login-content-nav .navbar-nav li {
  min-width: 90px;
  text-align: center;
  font-size: 16px;
}
.index-login-content-nav .navbar-nav li:hover {
  background: #f1f1f1;
}
.index-login-content-nav .navbar-nav li:hover a {
  color: #2e8ece;
}
.index-login-content-nav .navbar-nav li a {
  line-height: 50px;
}
/* 主体内容 */
.index-login-main .category {
  margin-top: 20px;
  margin-bottom: 20px;
}
.index-login-main .category dl {
  margin: 0;
  padding-left: 80px;
  height: 66px;
}
.index-login-main .category dl dt {
  font-size: 20px;
}
.index-login-main .category dl dd {
  font-size: 12px;
  color: #999;
}
.index-login-main .category .item01 {
  background: url('../../dist/images/feature01.png') no-repeat;
}
.index-login-main .category .item02 {
  background: url('../../dist/images/feature02.png') no-repeat;
}
.index-login-main .category .item03 {
  background: url('../../dist/images/feature03.png') no-repeat;
}
.index-login-main .borrow .panel,
.index-login-main .consult .panel {
  border: 0;
}
.index-login-main .borrow .panel .panel-heading,
.index-login-main .consult .panel .panel-heading {
  padding: 0;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
.index-login-main .borrow .panel .panel-heading .pull-left,
.index-login-main .consult .panel .panel-heading .pull-left {
  font-size: 24px;
  border-bottom: 4px solid #2e8ece;
  color: #2e8ece;
}
.index-login-main .borrow .panel .panel-body,
.index-login-main .consult .panel .panel-body {
  font-size: 16px;
  padding: 0;
}
.index-login-main .borrow .panel .panel-body ul,
.index-login-main .consult .panel .panel-body ul {
  list-style: none;
  padding: 0;
}
.index-login-main .borrow .panel .panel-body ul li,
.index-login-main .consult .panel .panel-body ul li {
  margin-top: 20px;
  border-bottom: 1px dashed #ccc;
  font-size: 14px;
}
.index-login-main .index-map-username .panel {
  border: 0;
}
.index-login-main .index-map-username .panel .panel-heading {
  padding: 0;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
.index-login-main .index-map-username .panel .panel-heading .pull-left {
  font-size: 24px;
  border-bottom: 4px solid #2e8ece;
  color: #2e8ece;
}
/*登录头部导航*/
.login-header-nav {
  border-radius: 0;
  margin-bottom: 0;
}
.login-header-nav .navbar-header a {
  color: #fff;
}
.login-header-nav .navbar-header a i {
  font-size: 26px;
}
.login-header-nav .navbar-right li a {
  color: #fff;
}
.login-header-nav .navbar-right li a:hover {
  color: #2e8ece;
  text-decoration: underline;
}
/*内容导航*/
.login-content-nav {
  margin-bottom: 10px;
}
.login-content-nav .navbar-nav li {
  min-width: 90px;
  text-align: center;
  font-size: 16px;
  line-height: 70px;
  color: #337ab7;
  font-size: 20px;
  font-weight: bold;
}
/*主体内容*/
.login-main {
  margin-bottom: 20px;
}
.login-main .panel .panel-body form p {
  text-align: center;
  font-size: 18px;
  color: #999;
}
/*主体内容*/
.login_list-main {
  margin-bottom: 40px;
}
.login_list-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.login_list-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.login_list-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.login_list-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.login_list-main .col-sm-3 #collapseThree .active {
  background: #337ab7;
}
.login_list-main .col-sm-3 #collapseThree .active a {
  color: #fff;
}
/*登录头部导航*/
.register-header-nav {
  border-radius: 0;
  margin-bottom: 0;
}
.register-header-nav .navbar-header a {
  color: #fff;
}
.register-header-nav .navbar-header a i {
  font-size: 26px;
}
.register-header-nav .navbar-right li a {
  color: #fff;
}
.register-header-nav .navbar-right li a:hover {
  color: #2e8ece;
  text-decoration: underline;
}
/*内容导航*/
.register-content-nav {
  margin-bottom: 10px;
}
.register-content-nav .navbar-nav li {
  min-width: 90px;
  text-align: center;
  font-size: 16px;
  line-height: 70px;
  color: #337ab7;
  font-size: 20px;
  font-weight: bold;
}
/*主体内容*/
.register-main {
  margin-bottom: 20px;
}
.register-main .panel .panel-body form p {
  text-align: center;
  font-size: 18px;
  color: #999;
}
.register-main .panel .panel-body form p a {
  margin-left: 160px;
  font-size: 14px;
}
.register-main .panel .panel-body form .form-group {
  margin-top: 18px;
}
/*登录头部导航*/
.userInfo-header-nav {
  border-radius: 0;
  margin-bottom: 0;
}
.userInfo-header-nav .navbar-header a {
  color: #fff;
}
.userInfo-header-nav .navbar-header a i {
  font-size: 26px;
}
.userInfo-header-nav .navbar-right li a {
  color: #fff;
}
.userInfo-header-nav .navbar-right li a:hover {
  color: #2e8ece;
  text-decoration: underline;
}
/*内容导航*/
.userInfo-content-nav {
  margin-bottom: 10px;
}
.userInfo-content-nav .navbar-nav li {
  min-width: 90px;
  text-align: center;
  font-size: 16px;
}
.userInfo-content-nav .navbar-nav li:hover {
  background: #f1f1f1;
}
.userInfo-content-nav .navbar-nav li:hover a {
  color: #2e8ece;
}
.userInfo-content-nav .navbar-nav li a {
  line-height: 50px;
}
/*主体内容*/
.userInfo-main {
  margin-bottom: 40px;
}
.userInfo-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.userInfo-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.userInfo-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.userInfo-main .col-sm-3 .active {
  background: #337ab7;
}
.userInfo-main .col-sm-3 .active h4 {
  color: #fff;
}
.userInfo-main .col-sm-3 .active h4:hover {
  color: #fff;
  text-decoration: underline;
}
.userInfo-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
/*主体内容*/
.accountflow_list-main {
  margin-bottom: 40px;
}
.accountflow_list-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.accountflow_list-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.accountflow_list-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.accountflow_list-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.accountflow_list-main .col-sm-3 #collapseThree .active {
  background: #337ab7;
}
.accountflow_list-main .col-sm-3 #collapseThree .active a {
  color: #fff;
}
/*主体内容*/
.bid_request_list-main {
  margin-bottom: 40px;
}
.bid_request_list-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.bid_request_list-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.bid_request_list-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.bid_request_list-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.bid_request_list-main .col-sm-3 #collapseThree .active {
  background: #337ab7;
}
.bid_request_list-main .col-sm-3 #collapseThree .active a {
  color: #fff;
}
/*主体内容*/
.money_withdraw_list-main {
  margin-bottom: 40px;
}
.money_withdraw_list-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.money_withdraw_list-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.money_withdraw_list-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.money_withdraw_list-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.money_withdraw_list-main .col-sm-3 #collapseThree .active {
  background: #337ab7;
}
.money_withdraw_list-main .col-sm-3 #collapseThree .active a {
  color: #fff;
}
/*主体内容*/
.recharge_list-main {
  margin-bottom: 40px;
}
.recharge_list-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.recharge_list-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.recharge_list-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.recharge_list-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.recharge_list-main .col-sm-3 #collapseThree .active {
  background: #337ab7;
}
.recharge_list-main .col-sm-3 #collapseThree .active a {
  color: #fff;
}
/*主体内容*/
.borrow_list-main {
  margin-bottom: 40px;
}
.borrow_list-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.borrow_list-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.borrow_list-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.borrow_list-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.borrow_list-main .col-sm-3 #collapseThree .active {
  background: #337ab7;
}
.borrow_list-main .col-sm-3 #collapseThree .active a {
  color: #fff;
}
/*主体内容*/
.borrowBidReturn_list-main {
  margin-bottom: 40px;
}
.borrowBidReturn_list-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.borrowBidReturn_list-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.borrowBidReturn_list-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.borrowBidReturn_list-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.borrowBidReturn_list-main .col-sm-3 #collapseThree .active {
  background: #337ab7;
}
.borrowBidReturn_list-main .col-sm-3 #collapseThree .active a {
  color: #fff;
}
/*主体内容*/
.borrow-main {
  margin-top: 30px;
}
.borrow-main .panel-success {
  border-color: #fff;
}
.borrow-main .panel-success .panel-heading {
  background: #40d47e;
  color: #fff;
  font-size: 24px;
}
.borrow-main .panel-success .panel-body ul {
  list-style: none;
}
.borrow-main .panel-success .panel-body ul li {
  padding-left: 20px;
  background: url("../../dist/images/sequare.png") left center no-repeat;
}
.borrow-main .panel-success .panel-body button {
  border-radius: 17px;
  margin-left: 100px;
}
.borrow-main .panel-warning {
  border-color: #fff;
}
.borrow-main .panel-warning .panel-heading {
  background: #ec7e20;
  color: #fff;
  font-size: 24px;
}
.borrow-main .panel-warning .panel-body ul {
  list-style: none;
}
.borrow-main .panel-warning .panel-body ul li {
  padding-left: 20px;
  background: url("../../dist/images/sequare.png") left center no-repeat;
}
.borrow-main .panel-warning .panel-body button {
  border-radius: 17px;
  margin-left: 80px;
}
.borrow-main .panel-info {
  border-color: #fff;
}
.borrow-main .panel-info .panel-heading {
  background: #2ca2ee;
  color: #fff;
  font-size: 24px;
}
.borrow-main .panel-info .panel-body ul {
  list-style: none;
}
.borrow-main .panel-info .panel-body ul li {
  padding-left: 20px;
  background: url("../../dist/images/sequare.png") left center no-repeat;
}
.borrow-main .panel-info .panel-body button {
  border-radius: 17px;
  margin-left: 80px;
}
/*主体内容*/
.borrow_apply-main {
  margin-bottom: 40px;
}
.borrow_apply-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.borrow_apply-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.borrow_apply-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.borrow_apply-main .col-sm-3 .active {
  background: #337ab7;
}
.borrow_apply-main .col-sm-3 .active h4 {
  color: #fff;
}
.borrow_apply-main .col-sm-3 .active h4:hover {
  color: #fff;
  text-decoration: underline;
}
.borrow_apply-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.borrow_apply-main .col-sm-9 .panel-success {
  background: #F4F8FA;
  border: 0;
}
.borrow_apply-main .col-sm-9 .panel-success .content {
  padding: 20px;
  border-left: 2px solid #0099DD;
}
.borrow_apply-main .col-sm-9 .panel-success .content h3 {
  color: #2e8ece;
}
.borrow_apply-main .col-sm-9 .panel-success .content p i {
  margin-left: 80px;
  font-style: normal;
}
.borrow_apply-main .col-sm-9 .panel .panel-heading {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
}
.borrow_apply-main .col-sm-9 .panel .panel-body .borrow-left {
  padding-left: 0;
}
.borrow_apply-main .col-sm-9 .panel .panel-body .borrow-related-fees {
  width: 300px;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 20px #ddd;
  padding: 20px 30px;
  position: absolute;
  top: 240px;
  right: 100px;
}
.borrow_apply-main .col-sm-9 .panel .panel-body .panel-group-addon {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  position: absolute;
  right: 15px;
  top: 0px;
}
/*主体内容*/
.borrow_info-main .col-sm-3 .panel-body p {
  margin: 0;
}
.borrow_info-main .col-sm-3 .panel-body p img {
  width: 100px;
  margin-left: 60px;
}
.borrow_info-main .col-sm-3 .panel-body p span {
  display: block;
  text-align: center;
  color: #0099DD;
}
.borrow_info-main .col-sm-3 .panel-body p i {
  width: 26px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: #5CB85C;
  color: #fff;
  border-radius: 4px;
}
.borrow_info-main .col-sm-3 .panel-body .title {
  margin-bottom: 40px;
}
.borrow_info-main .col-sm-6 h2 {
  padding: 0;
  margin: 0;
  font-size: 22px;
  color: #2e8ece;
}
.borrow_info-main .col-sm-6 h2 label {
  padding: 4px 6px 4px;
  font-size: 12px;
}
.borrow_info-main .col-sm-6 p {
  margin-top: 10px;
  font-size: 16px;
  color: #999;
  line-height: 1.8;
}
.borrow_info-main .col-sm-6 p span {
  color: #2e8ece;
  margin-left: 20px;
}
.borrow_info-main .content-right {
  font-size: 16px;
  color: #999;
}
.borrow_info-main .content-right p {
  margin: 0 0 6px;
}
.borrow_info-main .content-right p span {
  color: #2e8ece;
  margin-left: 20px;
}
.borrow_info-main .borrow-info,
.borrow_info-main .borrow-audit-info {
  font-size: 16px;
  color: #999;
}
.borrow_info-main .borrow-info span,
.borrow_info-main .borrow-audit-info span {
  color: #2e8ece;
  margin-left: 10px;
}
.borrow_info-main .borrow-mater-info {
  font-size: 16px;
  font-weight: bold;
}
.borrow_info-main .borrow-mater-info .panel-heading {
  font-weight: normal;
}
.borrow_info-main .borrow-payment-cond,
.borrow_info-main .borrow-tender-record {
  font-size: 16px;
}
/*主体内容*/
.invest-main .invest-list .invest-state {
  margin-top: 30px;
  margin-bottom: 20px;
}
.invest-main .invest-list .invest-state p {
  color: #999;
}
.invest-main .invest-list .invest-state .btn-group {
  margin-left: 30px;
}
.invest-main .invest-list .invest-state .btn-group label {
  width: 80px;
  border: 1px solid #ccc;
  margin-top: -5px;
}
.invest-main .invest-list .invest-state .btn-group .active {
  background: #f1f1f1;
}
.invest-main .invest-list .invest-table {
  font-size: 16px;
  margin-bottom: 60px;
  color: #999;
}
.invest-main .invest-list .invest-table tbody {
  color: #000;
}
/*主体内容*/
.personal-main {
  margin-bottom: 40px;
}
.personal-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.personal-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.personal-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.personal-main .col-sm-3 .active {
  background: #337ab7;
}
.personal-main .col-sm-3 .active h4 {
  color: #fff;
}
.personal-main .col-sm-3 .active h4:hover {
  color: #fff;
  text-decoration: underline;
}
.personal-main .col-sm-3 .active1 {
  background: #337ab7;
}
.personal-main .col-sm-3 .active1 a {
  color: #fff;
}
.personal-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.personal-main .col-sm-9 .panel {
  padding: 20px;
}
.personal-main .col-sm-9 .panel .personal-img-text {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.personal-main .col-sm-9 .panel .personal-img-text .personal-img {
  border: 1px solid #ccc;
  padding: 10px;
}
.personal-main .col-sm-9 .panel .personal-img-text .personal-img img {
  width: 80px;
}
.personal-main .col-sm-9 .panel .personal-img-text .personal-text {
  margin-left: 20px;
  margin-top: 10px;
}
.personal-main .col-sm-9 .panel .personal-amount {
  margin-top: 20px;
  font-size: 18px;
  margin-left: 20px;
}
.personal-main .col-sm-9 .panel .personal-amount span {
  color: #337ab7;
}
.personal-main .col-sm-9 .panel .personal-recharge {
  margin-top: 40px;
}
.personal-main .col-sm-9 .panel .personal-attestation {
  margin-top: 40px;
}
.personal-main .col-sm-9 .panel .personal-attestation .personal-attestation-text {
  margin-left: 10px;
}
/* 小屏幕样式 */
@media screen and (max-width: 768px) {
  .offcanvas {
    height: 100%;
    position: relative;
    left: 0;
    transition: all 1s;
  }
  .offcanvas .offcanvas-aside {
    position: absolute;
    width: 50%;
    left: -50%;
  }
  .offcanvas .offcanvas-right .offcanvas-btn {
    position: absolute;
    top: 30%;
    padding: 10px 4px;
    z-index: 999;
  }
  .active {
    left: 50%;
  }
}
/*主体内容*/
.realAuth-main {
  margin-bottom: 40px;
}
.realAuth-main .col-sm-3 .panel-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.realAuth-main .col-sm-3 .panel-heading h4 {
  color: #2e8ece;
  font-size: 14px;
}
.realAuth-main .col-sm-3 .panel-heading h4:hover {
  color: #333;
}
.realAuth-main .col-sm-3 .active {
  background: #337ab7;
}
.realAuth-main .col-sm-3 .active h4 {
  color: #fff;
}
.realAuth-main .col-sm-3 .active h4:hover {
  color: #fff;
  text-decoration: underline;
}
.realAuth-main .col-sm-3 .active1 {
  background: #337ab7;
}
.realAuth-main .col-sm-3 .active1 a {
  color: #fff;
}
.realAuth-main .col-sm-3 #collapseThree .panel-body a {
  margin-left: 30px;
}
.realAuth-main .col-sm-9 .realAuth-attestation .panel-body .form-horizontal {
  margin-top: 20px;
}
.realAuth-main .col-sm-9 .realAuth-attestation .panel-body .form-horizontal .form-group .col-sm-10 .col-sm-4 {
  width: 160px;
  height: 150px;
  border: 1px solid #ccc;
  text-align: center;
  margin-left: 10px;
}
.realAuth-main .col-sm-9 .realAuth-attestation .panel-body .form-horizontal .form-group .col-sm-10 .template {
  border: 0;
  line-height: 150px;
}
/*账户充值*/
.recharge-main .recharge-account-top .panel {
  background: #F4F8FA;
  padding: 20px;
  border-left: 2px solid #09d;
}
.recharge-main .recharge-account-top .panel h3 {
  color: #09d;
}
.recharge-main .recharge-sliding #home {
  font-size: 24px;
  color: #a94442;
  text-align: center;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.recharge-main .recharge-sliding #profile {
  font-size: 16px;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.recharge-main .recharge-sliding #profile tbody td .item01 {
  display: block;
  width: 150px;
  height: 30px;
  background: url('../../dist/images/bank_list.png') no-repeat;
}
.recharge-main .recharge-sliding #profile tbody td .item02 {
  display: block;
  width: 150px;
  height: 30px;
  background: url('../../dist/images/bank_list.png') no-repeat 0 -36px;
}
.recharge-main .recharge-sliding #profile tbody td .item03 {
  display: block;
  width: 150px;
  height: 30px;
  background: url('../../dist/images/bank_list.png') no-repeat 0 -108px;
}
.recharge-main .recharge-sliding .recharge-text {
  padding-left: 20px;
}
/*账户提现*/
.moneyWithdraw_apply-main .moneyWithdraw_apply-account-top .panel {
  background: #F4F8FA;
  padding: 20px;
  border-left: 2px solid #09d;
}
.moneyWithdraw_apply-main .moneyWithdraw_apply-account-top .panel h3 {
  color: #09d;
}
.moneyWithdraw_apply-main .moneyWithdraw_apply-text {
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}
.moneyWithdraw_apply-main .moneyWithdraw_apply-text span {
  color: #09d;
}
/*头部导航*/
.index-header-nav {
  border-radius: 0;
  margin-bottom: 0;
}
.index-header-nav .navbar-header a {
  color: #fff;
}
.index-header-nav .navbar-header a i {
  font-size: 26px;
}
.index-header-nav .navbar-right li a {
  color: #fff;
}
.index-header-nav .navbar-right li a:hover {
  color: #2e8ece;
  text-decoration: underline;
}
/*内容导航*/
.index-content-nav {
  margin-bottom: 10px;
}
.index-content-nav .navbar-nav li {
  min-width: 90px;
  text-align: center;
  font-size: 16px;
}
.index-content-nav .navbar-nav li:hover {
  background: #f1f1f1;
}
.index-content-nav .navbar-nav li:hover a {
  color: #2e8ece;
}
.index-content-nav .navbar-nav li a {
  line-height: 50px;
}
/*主体内容*/
.index-main .category {
  margin-top: 20px;
  margin-bottom: 20px;
}
.index-main .category dl {
  margin: 0;
  padding-left: 80px;
  height: 66px;
}
.index-main .category dl dt {
  font-size: 20px;
}
.index-main .category dl dd {
  font-size: 12px;
  color: #999;
}
.index-main .category .item01 {
  background: url('../../dist/images/feature01.png') no-repeat;
}
.index-main .category .item02 {
  background: url('../../dist/images/feature02.png') no-repeat;
}
.index-main .category .item03 {
  background: url('../../dist/images/feature03.png') no-repeat;
}
.index-main .borrow .panel,
.index-main .consult .panel {
  border: 0;
}
.index-main .borrow .panel .panel-heading,
.index-main .consult .panel .panel-heading {
  padding: 0;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
.index-main .borrow .panel .panel-heading .pull-left,
.index-main .consult .panel .panel-heading .pull-left {
  font-size: 24px;
  border-bottom: 4px solid #2e8ece;
  color: #2e8ece;
}
.index-main .borrow .panel .panel-body,
.index-main .consult .panel .panel-body {
  font-size: 16px;
  padding: 0;
}
.index-main .borrow .panel .panel-body ul,
.index-main .consult .panel .panel-body ul {
  list-style: none;
  padding: 0;
}
.index-main .borrow .panel .panel-body ul li,
.index-main .consult .panel .panel-body ul li {
  margin-top: 20px;
  border-bottom: 1px dashed #ccc;
  font-size: 14px;
}
.index-main .index-map-username .panel {
  border: 0;
}
.index-main .index-map-username .panel .panel-heading {
  padding: 0;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
.index-main .index-map-username .panel .panel-heading .pull-left {
  font-size: 24px;
  border-bottom: 4px solid #2e8ece;
  color: #2e8ece;
}
/* 页脚 */
.index-footer {
  background: #f1f1f1;
}
.index-footer .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.index-footer .row .col-sm-2 img {
  width: 100%;
}
